
$s-map-desc-bg: map-get($theme-colors, 'primary') !default;
$s-map-desc-alpha: 0.80 !default;
$s-map-desc-hover-bg: map-get($theme-colors, 'primary') !default;
$s-map-desc-hover-alpha: 0.55 !default;

#osm_map {
    position: relative;
    min-height: 100px;
    min-width: 100px;
}

